$grey: #333;
$white: #ffffff;
$nav-background: $grey;
$nav-text-color: $white;

// Clock
$clock-text-color: rgb(255, 255, 255);
$clock-bg-color: rgb(160, 198, 223);
$clock-border-color: rgb(153, 116, 17);
